# https強制
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://ntargon.com/$1 [R=301,L]

# wwwなし
RewriteCond %{HTTP_HOST} ^www\.ntargon\.com$
RewriteRule ^(.*)$ https://ntargon.com/$1 [R=301,L]

# インデックスファイルを表示しない
RewriteCond %{THE_REQUEST} ^.*/index.(html|htm|php)
RewriteRule ^index.(html|htm|php)$ https://ntargon.com/$1 [R=301,L]
# URL正規化コードここまで
