body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    flex: 1 1;
    position: relative;
    overflow: hidden;
}

#canvas-2d {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: contain;
    background-color: rgb(224,224,128);
    cursor: crosshair;
}

#start-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(128,128,128,0.5);
}

#start-content {
    text-align: center;
    width: 100%;
    font-size: xx-large;
}

#create-room-button {
    font-size: xx-large;
}

#enter-room-button {
    font-size: xx-large;
}

#room-screen {
    overflow: auto;
    margin: 10px auto;
    width: 50%;
    height: 100px;
    padding: 5px;
    background-color: white;
    border: 3px solid black;
}

#room-screen div{
    text-align: left;
    font-size: small;
    border-bottom: 2px solid black;
    margin: 2px 2px 2px 2px;
}
/*
    .kousin {
        overflow:auto;
        width:300px; height:100px;
        padding:5px;
        border:2px dotted #ffffff;
        color:#e8e8e8;
        background-color:#5bc6ed;
        line-height:1.5em;
    }
*/